@import "core/variables";
@import "core/default";

.title {
	font-weight: bold;
	font-size: 3em;
	line-height: 1em;
	margin: .3em 1vw 1em;
	text-align: center;
	&__secondary {
		font-weight: 300;
	}
}
.schedule {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__month { 
		width: 30vw;
    transition: all .15s ease-out;
		max-width: 420px;
		min-width: 310px;
    margin: 1em 0;
	}
	&__title {
		color: #000;
		font-size: 1.5em;
		font-weight: bold;
		border-bottom: 2px solid #eee;
		margin-bottom: 1em;
		position: static;
		position: sticky;
		top: -1px;
		padding: .4em 20px .3em;
		background: #fff;
	}
	&__event {
		margin: 1em 14px .5em;
	}
}
.event {
	border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 0 2px 10px #eee;
  border-top: 0;
	display: block;
	&:hover {
		cursor: pointer;
	}
	&__header {
		border-radius: 3px 3px 0 0;
		color: #fff;
		&--all {
			background: #000;
		}
		&--shri {
			background: #FFCE05;
      color: #000;
		}
		&--mdev {
			background: #ED1E00;
		}
		&--mdes {
			background: #2CE8C6;
		}
	}
  &__title {
    display: flex;
  }
  &__date {
  	width: 42px;
  	flex-shrink: 0;
  }
	&__date-number {
		font-weight: 300;
		font-size: 2em;
		letter-spacing: -1px;
		line-height: .4em;
    margin: 15px 5px 0 10px; 
		border-color: inherit;
		display: inline-block;
		font-variant-numeric: proportional-nums;
		-moz-font-feature-settings: "pnum";
		-webkit-font-feature-settings: "pnum";
		font-feature-settings: "pnum";
	}
	&__date-week {
		margin: -5px 5px 0 10px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-size: .75em;
	}
	&__pic {
		width: 100%;
	}
	&__school {
		padding: 0 0 1px 10px;
		font-size: .7em;
		font-weight: 600;
		letter-spacing: .13em;
		text-transform: uppercase;
	}
	&__name {
		padding: .35em 12px .6em;
		font-size: 1.2em;
		line-height: 1.3em;
	}
}

.meta {
  margin: 0 0 0 3em;
	padding: 0 12px .75em;
	display: flex;
	flex-wrap: wrap;
	&__item {
		font-size: .9em;
		line-height: 1.3em;
		&--lecturer {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      transition: .25s ease;
      &:hover {
        color: #ED1E00;
        border-color: none;
        transition: none;
      }
			&:after {
				content: ', ';
			}
		}
		&--company {
			margin-right: 1.4em;
		}
		&--place:before {
		}
	}
}

@media #{$latex-mobile} {
	.content {
		&__title {
			font-size: 2em;
			margin: .4em 2vw .75em;
			text-align: left;
		}
	}
	.schedule {
		margin: 0;
		&__month {
			margin: 1em 0;
			width: 100vw;
		}
		&__title {
			padding: .5em 2vw .5em;
		}
		&__event {
			margin: .5em 3vw .75em;
		}
	}
}