<!doctype html>
<html lang="ru">
<head>
  <title>{{ title | default("Инитум") }}</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  {% block styles %}{% endblock %}
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

<div class="content">
  {% block body %}{% endblock %}
</div>

{% block scripts %}{% endblock %}
<script src="https://unpkg.com/vue"></script>
<script src='assets/js/mobControls.js'></script>
<script src='assets/js/common.js'></script>
<script src='assets/js/vision.js'></script>
</body>
</html>
