<div class="tabs">
	<div class="tabs__item tabs__item--сhosen">Лекции</div><div class="tabs__item">Аудитории</div><div class="tabs__item">Школы</div>
</div>

<div class="editor">
	<form class="editor__entry entry">
		<input class="entry__field entry__field--name" placeholder="Название">
		<input class="entry__field entry__field--pic" placeholder="Ссылка на картинку">
		<select class="entry__field entry__field--lecturer">
			<option>Сергей Душкин</option>
		</select>
		<select class="entry__field entry__field--venue">
			<option>Синий кит, 4 этаж</option>
		</select>
		<input class="entry__field entry__field--date" type="date" name="" placeholder="0">
		<input class="entry__field entry__field--time" type="time" name="" placeholder="0">
		<button class="entry__submit-button">Сохранить</button>
	</form>
</div>