<div class="schedule">
	<div class="schedule__month month month--expanded">
		<div class="schedule__title" data-month="06">Июль</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
	</div>
	<div class="schedule__month month month--expanded">
		<div class="schedule__title" data-month="07">Июнь</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
		<div class="schedule__event event">
			<div class="event__school">ШРИ</div>
			<div class="event__name">
				Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
			</div>
			<div class="event__lecturer">
				Андрей Морозов
				<span class="event__secondary">Яндекс</span>
			</div>
			<div class="event__coordinates">
				<div class="event__date">3</div>
				<div class="event__place">«Синий Кит»</div>
			</div>
		</div>
	</div>
</div>